    [Unit]
    Description=Looking Glass service

    [Service]
    Type=idle
    ExecStart=/bin/sh touch /dev/shm/looking-glass && chown $VIRT_USER:kvm /dev/shm/looking-glass && chmod 660 /dev/shm/looking-glass
    
    [Install]
    WantedBy=graphical.target
